<div class='container'>
  <%= simple_form_for(publication) do |f| %>
    <%= f.input :pdf, as: :file %>
    <%= f.input :author %>
    <%= f.input :title %>
    <%= f.input :year %>
     <%= f.input :public %>
    <%#= f.input :site, collection: Site.order(:name).pluck(:name, :id) %>
    <%= f.submit(class: "btn btn-primary") %>
  <% end %>
</div>
