<div class='row'>
    <div class='col-md-6' style='padding: 20px;'>
        <div class="card">
            <%= pie_chart @skeleton_per_grave_type, class: 'card-img-top' %>
            <div class="card-body">
                <h5 class="card-title">Number of Skeletons per Grave</h5>
                <div class="card-text">
                    <table class='table'>
                        <thead>
                            <tr>
                                <th>Skeletons</th>
                                <th>N</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% @skeleton_per_grave_type.each do |skeletons, count| %>
                                <tr>
                                    <td>
                                        <%= skeletons %>
                                    </td>

                                    <td>
                                        <%= count %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class='col-md-6' style='padding: 20px;'>
        <div class="card">
            <%= scatter_chart @skeleton_angles, xmin: -1.5, xmax: 1.5, class: 'card-img-top' %>
            <div class="card-body">
                <h5 class="card-title">Grave Orientation</h5>
                <div class="card-text">
                    <table class='table'>
                        <thead>
                            <tr>
                                <th>Angle (degree)</th>
                                <th>N</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% @skeleton_angles.each do |skeletons, count| %>
                                <tr>
                                    <td>
                                        <%= skeletons %>
                                    </td>

                                    <td>
                                        <%= count %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <%= scatter_chart @graves_pca, class: 'card-img-top' %>
    <%== render('radar', color: 'red', data: @skeleton_angles) %>
</div>
