<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <table class='table'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= link_to "Edit", edit_user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to "New user", new_user_path %>
