<%= simple_form_for :search, url: graves_path, method: "GET", html: { class: 'form-inline' } do |f| %>
  <%= f.input :publication_id, collection: Publication.pluck(:title, :id), input_html: {value: ""} %>
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>

<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Area</th>
      <th>Perimeter</th>
      <th>Width</th>
      <th>Length</th><!-- longer -->
      <th>Depth</th>
      <th>Angle by Shape</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @graves.each do |grave| %>
      <tr>
        <td><%= grave.identifier %></td>
        <td><%= raw number_with_unit grave.area_with_unit %></td>
        <td><%= number_with_unit grave.perimeter_with_unit %></td>
        <td><%= number_with_unit grave.width_with_unit %></td>
        <td><%= number_with_unit grave.height_with_unit %></td>
        <td><%= number_with_unit grave.grave_cross_section&.depth_with_unit %></td>
        <td>
          <% unless grave&.arrow&.angle.nil? %>
            <%= ((grave.angle.abs.round + grave.arrow.angle) % 180).round  %> deg
          <% end %>
        </td>
        <td><%= link_to('Edit', grave_update_grave_path(grave, :set_grave_data)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
