<h4>Inventory of <%= @grave.identifier %></h4>

<%= image_tag(preview_figure_path(@grave), class: 'img-fluid') %>

<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Similar by Features</th>
      <th>Similar by EFDs</th>
    </tr>
  </thead>

  <tbody>
    <% Figure.where(type: ['Ceramic', 'StoneTool', 'Artefact', 'ShaftAxe']).where(parent_id: @grave).each do |figure| %>
      <tr>
        <td><%= figure.type %> <%= figure.id %></td>
        <td><%= image_tag(preview_figure_path(figure), class: 'img-fluid', style: 'max-height: 120px') %></td>
        <td>
          <% FeatureSimilarity.where(first: figure).where.not(second: figure).order(similarity: :desc).limit(5).each do |related| %>
            <div>
              <%= related.second.type %><%= related.second.id %> in <%= link_to(related.second.grave.identifier, grave_path(related.second.grave))  %> (<%= related.similarity.round(4) %>)
            </div>
            <% end %>
        </td>
        <td>
          <% EfdSimilarity.where(first: figure).where.not(second: figure).order(similarity: :desc).limit(5).each do |related| %>
            <div>
              <%= related.second.type %><%= related.second.id %> in <%= link_to(related.second.grave.identifier, grave_path(related.second.grave))  %> (<%= related.similarity.round(4) %>)
            </div>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
